.modalWr {
	position: fixed;
    top: 0;
    bottom: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .5);
}

.modalContent {
	background: white;
	padding: 3rem;
	border-radius: 16px;
	max-width: 480px;
	position: relative;
}

.closeIcon {
	position: absolute;
	top: 8px;
	right: 8px;
	cursor: pointer;
}